<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top" id="main-nav">
        <div class="container">
            <a href="index.html" class="navbar-brand">IDEAS into CODING</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li>@Html.ActionLink("Home", "Index", "Home", "", new { @class = "nav-link" })</li>
                    <li class="nav-item">
                        <a href="#explore-head-section" class="nav-link">About Us</a>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>

    <div class="row">

        <div class="wrapper col-md-2">
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3>EIKONA</h3>
                </div>

                <ul class="list-unstyled components">
                    <li>
                        <a href="#">Profile</a>
                    </li>
                    <li>
                        <a href="#">Projects</a>
                    </li>
                    <li>
                        <a href="#">Message</a>
                    </li>
                    <li>
                        <a href="#">GitHub</a>
                    </li>
                </ul>
            </nav>

        </div>

        <div class="col-md-10">
            @RenderBody()
        </div>
    </div>


    <footer id="main-footer">
        <div class="container">
            <div class="row">
                <div class="col text-center py-4">
                    <h3>OtiNaNaiTeam</h3>
                    <p>
                        Copyright &copy;
                        <span id="year"></span>
                    </p>
                </div>
            </div>
        </div>
    </footer>


    @Scripts.Render("~/bundles/lib")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @RenderSection("scripts", required: false)
    <script type="text/x-template" id="notifications-template">
        <%
        
        _.each(notifications, function(notification) {
        if (notification.type == 0) { %>
        <li><%= notification.developer.fullName %> has followed you </li>
        <% };
        if (notification.type == 1) { %>
        <li><%= notification.developer.fullName %> has messaged you</li>
        <% };
        if (notification.type == 2) { %>
        <li><%= notification.developer.fullName %> has petittioned to join you project with name <%= notification.project.title %></li>
        <% };
        })
        %>
    </script>
    <script>
        $(document).ready(function () {
            $.getJSON("/api/notifications", function (notifications) {
                //if (notifications.length == 0)
                //    return;

                $(".js-notifications-count")
                    .text(notifications.length)
                    .removeClass("hide")
                    .addClass("animated bounceInDown");

                $(".notifications").popover({
                    html: true,
                    title: "Notifications",
                    content: function () {
                        var compiled = _.template($("#notifications-template").html());
                        var html = compiled({ notifications: notifications })

                        return html;
                    },
                    placement: "bottom"
                })
            });



        });
    </script>




</body>
</html>




