@model ICollection<IdeasIntoCodeFirstVersion.Interface.INewsFeed>
    @using IdeasIntoCodeFirstVersion.Models
@{
    ViewBag.Title = "NewsFeed";
}

<div class="container">
   
    <div class="row">
       

        <div class="col-md-8 col-xl-9">
            <div class="card">
                <div class="card-header">
                    <div class="card-actions float-right">
                        <div class="dropdown show">
                            <a href="#" data-toggle="dropdown" data-display="static">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal align-middle">
                                    <circle cx="12" cy="12" r="1"></circle>
                                    <circle cx="19" cy="12" r="1"></circle>
                                    <circle cx="5" cy="12" r="1"></circle>
                                </svg>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                    <h5 class="card-title mb-0">Activities</h5>
                </div>
                <div class="card-body h-100">

                    @foreach (var item in Model)
                    {
                        if (item.GetType() == typeof(Follow))
                        {
                            <div class="media">
                                <div class="media-body">
                                    <small class="float-right text-navy">@(item.TimeStamp)</small>
                                    <strong>@((item as Follow).Follower.User.FullName)</strong> started following <strong>@((item as Follow).Followee.User.FullName)</strong>
                                    <br>
                                    <small class="text-muted">Today 7:51 pm</small>
                                    <br>

                                </div>
                            </div>



                        }
                        else if (item.GetType() == typeof(Project))
                        {
                            <div class="media">
                                <img src="https://bootdey.com/img/Content/avatar/avatar6.png" width="36" height="36" class="rounded-circle mr-2" alt="@((item as Project).Admin.User.FullName)">
                                <div class="media-body">
                                    <small class="float-right text-navy">30m ago</small>
                                    <strong>@((item as Project).Admin.User.FullName)</strong> created  <strong>@((item as Project).Admin.User.Name)</strong>
                                    <br>
                                    <small class="text-muted">Today 7:21 pm</small>

                                    <div class="border text-sm text-muted p-2 mt-1">
                                        @((item as Project).Description)
                                    </div>


                                </div>
                            </div>





                        }
                        else
                        {
                            <div class="media">
                                <img src="https://bootdey.com/img/Content/avatar/avatar6.png" width="36" height="36" class="rounded-circle mr-2" alt="@((item as Comment).Project.Admin.User.FullName)">
                                <div class="media-body">
                                    <small class="float-right text-navy">30m ago</small>
                                    <strong>@((item as Comment).Developer.User.FullName)</strong> commented at   <strong>@((item as Comment).Project.Title)</strong>
                                    <br>
                                    <small class="text-muted">Today 7:21 pm</small>

                                    <div class="border text-sm text-muted p-2 mt-1">
                                        @((item as Comment).Project.Description)
                                    </div>


                                </div>
                            </div>

                        }
                    }

                    @*<div class="media">
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" width="36" height="36" class="rounded-circle mr-2" alt="Kathy Davis">
                <div class="media-body">
                    <small class="float-right text-navy">5m ago</small>
                    <strong>Kathy Davis</strong> started following <strong>Marie Salter</strong>
                    <br>
                    <small class="text-muted">Today 7:51 pm</small>
                    <br>

                </div>
            </div>

            <hr>
            <div class="media">
                <img src="https://bootdey.com/img/Content/avatar/avatar6.png" width="36" height="36" class="rounded-circle mr-2" alt="Andrew Jones">
                <div class="media-body">
                    <small class="float-right text-navy">30m ago</small>
                    <strong>Andrew Jones</strong> posted something on <strong>Marie Salter</strong>'s timeline
                    <br>
                    <small class="text-muted">Today 7:21 pm</small>

                    <div class="border text-sm text-muted p-2 mt-1">
                        Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.
                    </div>

                    <a href="#" class="btn btn-sm btn-danger mt-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart feather-sm">
                            <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                        </svg> Like
                    </a>
                </div>
            </div>

            <hr>
            <div class="media">
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" width="36" height="36" class="rounded-circle mr-2" alt="Marie Salter">
                <div class="media-body">
                    <small class="float-right text-navy">1h ago</small>
                    <strong>Marie Salter</strong> posted a new blog
                    <br>

                    <small class="text-muted">Today 6:35 pm</small>
                </div>
            </div>

            <hr>
            <div class="media">
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" width="36" height="36" class="rounded-circle mr-2" alt="John Smith">
                <div class="media-body">
                    <small class="float-right text-navy">3h ago</small>
                    <strong>John Smith</strong> posted two photos on <strong>Marie Salter</strong>'s timeline
                    <br>
                    <small class="text-muted">Today 5:12 pm</small>

                    <div class="row no-gutters mt-1">
                        <div class="col-6 col-md-4 col-lg-4 col-xl-3">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="img-fluid pr-2" alt="Unsplash">
                        </div>
                        <div class="col-6 col-md-4 col-lg-4 col-xl-3">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="img-fluid pr-2" alt="Unsplash">
                        </div>
                    </div>

                    <a href="#" class="btn btn-sm btn-danger mt-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart feather-sm">
                            <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                        </svg> Like
                    </a>
                </div>
            </div>

            <hr>
            <div class="media">
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" width="36" height="36" class="rounded-circle mr-2" alt="John Smith">
                <div class="media-body">
                    <small class="float-right text-navy">1d ago</small>
                    <strong>John Smith</strong> started following <strong>Marie Salter</strong>
                    <br>
                    <small class="text-muted">Yesterday 3:12 pm</small>

                    <div class="media mt-1">
                        <a class="pr-3" href="#">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" width="36" height="36" class="rounded-circle mr-2" alt="Marie Salter">
                        </a>
                        <div class="media-body">
                            <div class="border text-sm text-muted p-2 mt-1">
                                Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr>
            <div class="media">
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" width="36" height="36" class="rounded-circle mr-2" alt="Marie Salter">
                <div class="media-body">
                    <small class="float-right text-navy">1d ago</small>
                    <strong>Marie Salter</strong> posted a new blog
                    <br>
                    <small class="text-muted">Yesterday 2:43 pm</small>
                </div>
            </div>

            <hr>
            <div class="media">
                <img src="https://bootdey.com/img/Content/avatar/avatar6.png" width="36" height="36" class="rounded-circle mr-2" alt="Andrew Jones">
                <div class="media-body">
                    <small class="float-right text-navy">1d ago</small>
                    <strong>Andrew Jones</strong> started following <strong>Marie Salter</strong>
                    <br>
                    <small class="text-muted">Yesterdag 1:51 pm</small>
                </div>
            </div>

            <hr>
            <a href="#" class="btn btn-primary btn-block">Load more</a>
        </div>*@
                </div>
                        </div>
    </div>
</div>
</div>



@section Scripts {
    <script src="~/signalr/hubs" type="text/javascript"></script>
    <script type="text/javascript">

         $(function () {
            var objHub = $.connection.newsFeedTickerHub;

            $.extend(hub, {
                broadcaastNotif: function (data) {


                    $("#media").append(data.timeStamp);
                    //// Container for newItem
                    //var blankDiv = $("<div class='itemContainer'></div>");

                    //// Holds the update
                    //var newItem = $("<div class='" + data.UpdateType.toLowerCase() + "_item'><span>" + data.Name + "</span></div>");

                    //// Hide our blank div (that will contain the new update), and our new item itself.
                    //// The blank div will slide down, and our newItem will fade into existence.
                    //blankDiv.hide();
                    //newItem.hide();

                    //// Insert the update at the top of the list, as it's sorted in descending order by publish date.
                    //$("div#container div:first").before(blankDiv);
                    //blankDiv.html(newItem);

                    //// Slide down the blank div (it has a fixed height in CSS), and then fade the new update in.
                    //blankDiv.slideDown(500, null, function () {
                    //    newItem.fadeIn(2000)
                    //});
                }
            });



            $.connection.hub.start()
              
        });



    </script>
}

