@model IdeasIntoCodeFirstVersion.ViewModels.DeveloperProfileViewModel

@{
    ViewBag.Title = "DeveloperProfile";
}

<section id="profile" class="my-5 text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8" id="prof">

                <div class="card">

                    <div class="card-body">
                        <img src="~/Content/Images/ProfilePicture/@Model.DeveloperOfProfile.ID/@Model.DeveloperOfProfile.Picture" alt="" class="img-fluid rounded-circle w-60 mb-3">

                        <h4>@Model.DeveloperOfProfile.User.FullName</h4>


                        <div class="d-flex justify-content-center">
                            @*<div class="p-4">
                                @if (!Model.ShowActionButtons)
                                {
                                    <a href="@Url.Action("SendMessage", "Message", new {developerID = Model.DeveloperOfProfile.ID })" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">New Message</a>
                                    <a href="@Url.Action("GetMessages", "Message", new {whatMessagesToGet = "Send"})" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Send Messages</a>
                                    <a href="@Url.Action("GetMessages", "Message", new {whatMessagesToGet = "Received"})" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Received Messages</a>
                                   
                                }
                            </div>*@
                            <div class="p-4">
                                @if (Model.ShowActionButtons)
                                {
                                    if (Model.ConnectedDeveloperAlreadyFollowsProfileDeveloper)
                                    {
                                        <button data-folowee-id="@Model.DeveloperOfProfile.ID" type="button" class="btn btn-success js-toggle-follow">
                                            <i class="fas fa-user-plus"></i>
                                            Following
                                        </button>
                                    }
                                    else
                                    {

                                        <button data-folowee-id="@Model.DeveloperOfProfile.ID" type="button" class="btn btn-primary js-toggle-follow">
                                            <i class="fas fa-user-plus"></i>
                                            Follow
                                        </button>
                                    }

                                }
                            </div>
                            <div class="p-4">
                                @if (Model.ShowActionButtons)
                                {
                                    <a href="@Url.Action("SendMessage", "Message", new {developerID = Model.DeveloperOfProfile.ID })">Message</a>
                                    @*<button  type="button" class="btn btn-primary">
                                            <i class="fas fa-envelope"></i>
                                            Message
                                        </button>*@
                                }

                            </div>


                        </div>
                    </div>
                </div>
            </div>


            <div class="col-6 col-md-4 row" id="fol">
                <div class="col-6">
                    <ul class="list-group">
                        <li class="list-group-item border-0">
                            Followers
                            <span class="badge badge-success badge-pill">@Model.DeveloperOfProfile.Followers.Count</span>
                        </li>
                    </ul>
                </div>
                <div class="col-6">
                    <ul class="list-group">
                        <li class="list-group-item border-0">
                            Following
                            <span class="badge badge-success badge-pill">@Model.DeveloperOfProfile.Following.Count</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>



    </div>
</section>


<section id="profile" class="my-5 text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th scope="col">
                                <i class="fab fa-github"></i> GitHub:
                            </th>
                            <td scope="col"><a href="@Model.DeveloperOfProfile.GitHub">@Model.DeveloperOfProfile.GitHub</a></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">
                                <i class="far fa-envelope-open"></i>
                                E-mail:
                            </th>
                            <td>@Model.DeveloperOfProfile.User.Email</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <i class="fab fa-linkedin"></i>
                                Linkedin:
                            </th>
                            <td>Filippos Kontoes</td>
                        </tr>
                    </tbody>
                </table>

            </div>


            <div class="col-lg-6">
                <div class="info-header mb-5">
                    <h4 class="text-primary pb-3">
                        Description:
                    </h4>
                    <p class="lead pb-3">
                        @Model.DeveloperOfProfile.Description
                    </p>
                </div>
            </div>


        </div>
    </div>
</section>

<section id="profile" class="my-5 text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8">

                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Tech you prefer:</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        @foreach (var programmingLanguage in Model.DeveloperOfProfile.ProgrammingLanguages)
                        {
                            <li class="list-group-item border-0">@programmingLanguage.Name</li>


                        }
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link">Add</a>
                        <a href="#" class="card-link">Edit</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="my-5 text-center">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="info-header mb-5">
                    <h1 class="text-primary pb-3">
                        Meet My Ideas
                    </h1>
                    <p class="lead">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias laborum numquam aperiam
                        dolores a porro!
                    </p>
                </div>
            </div>
        </div>

        <div class="row">

            @foreach (var project in Model.DeveloperOfProfile.ProjectsOwned)
            {
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <img src="~/Content/Images/userpic.png" alt="" class="img-fluid rounded-circle w-50 mb-3">
                            <h3>@project.Title</h3>
                            <h5 class="text-muted">Game</h5>
                            <p>
                                @project.Description
                            </p>
                            <div class="d-flex justify-content-center">
                                
                                    <button type="button" class="btn btn-warning" onclick="window.location.href='@Url.Action("ProjectProfile", "Project", new { ID = project.ID })'">See More</button>
                               
                                

                            </div>
                        </div>
                    </div>
                </div>

            }



        </div>
    </div>
</section>
@section scripts
{
    <script>
        $(document).ready(function () {
            $(".js-toggle-follow").click(function (e) {
                var button = $(e.target);
                $.post("/api/followings", { followeeId: button.attr("data-folowee-id") })
                    .done(function () {
                        button
                            .removeClass("btn-primary")
                            .addClass("btn-success")
                            .text("Following")
                    })
                    .fail(function () {
                        alert("Follow failed")
                    });
            });

        })
    </script>
}
