@model IdeasIntoCodeFirstVersion.ViewModels.DeveloperProfileViewModel

@{
    ViewBag.Title = "DeveloperProfile";
}
<div class="container text-center mt-5">
    <div class="row">
        <div class="col-md-6 ">

            <div class="card profpic">

                <div class="card-body">
                    <img src="~/Content/Images/ProfilePicture/1/1075605a-6f18-4f8c-bdc0-ff6620554bb1DeathNote.png" alt="profilePic" class="img-fluid rounded-circle w-60 mb-3 imgpic" />

                    <h3 class='devname'></h3>

                    <div class="d-flex justify-content-center">
                        <div class="p-4">

                            <button type="button" onClick={this.followrequest} class="btn js-toggle-follow btnprof">
                            </button>

                        </div>
                        <div class="p-4">

                            <button type="button" class="btn btnprof">

                                Message
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-6 row followb">
            <div class="col-6">
                <ul class="list-group">
                    <a href="@Url.Action("GetListOfFollowers", "Following", new {ID = Model.DeveloperOfProfile.ID, whatListToGet = "Followers"})" >
                        <li class="list-group-item border-0  ">
                            <span class="badge badge-pill numsize">
                                @Model.DeveloperOfProfile.Followers.Count
                            </span>
                            <br />
                            <strong>Followers</strong>
                        </li>
                    </a>
                </ul>
            </div>
            <div class="col-6">
                <ul class="list-group">
                    <a href="@Url.Action("GetListOfFollowers", "Following", new {ID = Model.DeveloperOfProfile.ID, whatListToGet = "Following"})" >
                        <li class="list-group-item border-0">
                            <span class="badge badge-pill numsize">
                                @Model.DeveloperOfProfile.Following.Count
                            </span>
                            <br />
                            <strong>Following</strong>

                        </li>
                        </a>
                </ul>
            </div>


            <div class="col-md-12 decrdev">
                <div class="info-header mb-5">
                    <h4 class="pb-3">Description:</h4>
                    <p class="lead pb-3">@Model.DeveloperOfProfile.Description</p>
                </div>
            </div>

        </div>
        <hr class="line" />
        <div class="w-100 mb-1 mt-1"></div>

        <div class="col-md-5">
            <table class="table table-borderless contactinf">
                <tbody>
                    <tr>
                        <th scope="row">
                          
                            E-mail:
                        </th>
                        <td>@Model.DeveloperOfProfile.User.Email</td>
                    </tr>
                    <tr>
                        <th scope="col">
                          
                            GitHub:
                        </th>
                        <td scope="col">
                           @Model.DeveloperOfProfile.GitHub
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                          
                            Linkedin:
                        </th>
                        <td scope="col">
                           @Model.DeveloperOfProfile.Linkedin
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-1 vl"></div>
        <div class="col-md-6">
            <div class='techs'>
                <h4 class='techtitle pb-3'><strong>Technologies</strong></h4>
                <div class='row'>
                    @foreach (var tech in Model.DeveloperOfProfile.ProgrammingLanguages)
                    {
                    <span class="list-group-item border-2 mr-3 techs mt-2" >
                        @tech.Name
                    </span>
                       
                    }
                </div>
            </div>
        </div>

        <hr class="line" />
        <div class="w-100 mb-3 mt-3"></div>

        <div class="container">
            <div class='row'>
                <div class="">
                    <div class="card-group">
                        @foreach (var project in Model.DeveloperOfProfile.ProjectsOwned)
                        {
                            <div class="card ownproj mr-3" key={p.id}>
                                <div class="card-header">
                                    <h4>@project.Title</h4>
                                </div>
                                <div class="card-body">
                                    <p>@project.Description</p>
                                    <div class="d-flex justify-content-center"></div>
                                </div>
                            </div>

                        }



                    </div>
                </div>
            </div>
        </div>

        <div class="w-100 mb-5 mt-5"></div>
    </div>
</div>



@section scripts


{
    <script>
        $(document).ready(function () {
            jQuery.fn.clickToggle = function (a, b) {
                return this.on("click", function (ev) { [b, a][this.$_io ^= 1].call(this, ev) })
            };
            $('.js-toggle-follow').clickToggle(function (ev) {
                var button = $(ev.target);
                $.post("/api/followings/", { followeeId: button.attr("data-folowee-id") })
                    .done(function () {
                        button
                            .removeClass("btn-primary")
                            .addClass("btn-success")
                            .removeClass("js-toggle-follow")
                            .addClass("js-toggle-unfollow")
                            .text("Unfollow")
                    })
                    .fail(function () {
                        alert("Follow failed")
                    });
            }, function (ev) {
                var button = $(ev.target);
                $.post("/api/followings", { followeeId: button.attr("data-folowee-id") })
                    .done(function () {
                        button
                            .removeClass("btn-success")
                            .addClass("btn-primary")
                            .removeClass("js-toggle-unfollow")
                            .addClass("js-toggle-follow")
                            .text("Follow")
                    })
                    .fail(function () {
                        alert("Unfollow failed")
                    });
            });
            $('.js-toggle-unfollow').clickToggle(function (ev) {
                var button = $(ev.target);
                $.post("/api/followings", { followeeId: button.attr("data-folowee-id") })
                    .done(function () {
                        button
                            .removeClass("btn-success")
                            .addClass("btn-primary")
                            .removeClass("js-toggle-unfollow")
                            .addClass("js-toggle-follow")
                            .text("Follow")
                    })
                    .fail(function () {
                        alert("Unfollow failed")
                    });
            }, function (ev) {
                var button = $(ev.target);
                $.post("/api/followings", { followeeId: button.attr("data-folowee-id") })
                    .done(function () {
                        button
                            .removeClass("btn-primary")
                            .addClass("btn-success")
                            .removeClass("js-toggle-follow")
                            .addClass("js-toggle-unfollow")
                            .text("Unfollow")
                    })
                    .fail(function () {
                        alert("Follow failed")
                    });
            });


        })
    </script>
    }

    
